
.video-modal {
  > div {
    .-close {
      position: absolute;
      top: 28px;
      right: 26px;
      outline: none;
      cursor: pointer;
      transition: color 0.2s linear;
      color: #fff;
      font-size: 30px;
      &:hover {
        color: var(--themeBlue);
      }
    }
    .-content {
      background-color: #fff;
      padding: 40px;
    }
  }
}



